<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.delta.nittfest" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="org.delta.nittfest.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.delta.nittfest.permission.C2D_MESSAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_nc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Notify"
            android:label="Notifications" >
        </activity>
        <activity
            android:name=".BettingScreen"
            android:label="Betting" >
        </activity>
        <activity
            android:name=".DeptBetting"
            android:label="DeptBetting" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name="org.delta.nittfest.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.delta.nittfest.gcmtest" />
            </intent-filter>
        </receiver>

        <service android:name="org.delta.nittfest.GCMMessageHandler" />

        <service
            android:name="org.delta.nittfest.GCMRegisterService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

    </application>

</manifest>
